.is-triangle{
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* width: 40vw; */
    
    
}

.p-text{
    font-size: large;
    font-family: var(--title-font);
}