.quiz{
    display: flex;
    flex-direction: column;
    height: 75vh;
    overflow-y: scroll;
    /* width: 60vw; */
    margin: auto;
    text-align: center;
    font-family: var(--title-font);

}
.question{
    
    font-size: large;
    border: 3px solid black;
    border-radius: 0.5rem;
    box-shadow: 5px 10px;
    width: 80vw;
    margin: auto;
    margin-bottom: 2rem;
    padding: 0.5rem 0 1.5rem 0;
    background-color: #ffccdd;
}